div.featured-products {
	background: url('../images/fondo-01.webp') center center repeat;
	background-size: contain;
	background-color: var(--light);
}

div.featured-products>div.content {
	max-width: var(--max-width);
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 1rem;
}

div.featured-products>div.content>div:first-child {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: var(--black);
}

div.featured-products>div.content>div:first-child img {
	display: none;
}


div.featured-products>div.content>div:first-child h2 {
	font-size: 3rem;
	line-height: 1.4;
	margin: 0.5rem 0 1rem;
	font-weight: 200;
	text-align: center;
	letter-spacing: 0;
	color: var(--white);
	font-family: var(--font-header);
	text-shadow: 0px 0px 5px black;
}

/*** Carousel  container ***/
.carousel-wrapper {
	display: flex;
	align-items: center;
}

/* Arrows
*/
.carousel-arrow {
	font-weight: bolder;
	font-size: 4rem;
	width: 48px;
	height: fit-content;
	background-color: unset;
	border: none;
	padding: 0;
	cursor: pointer;
	transition: 100ms;
	color: var(--light);
}

.carousel-arrow:hover,
.carousel-arrow:focus {
	scale: 1.2;
}

.carousel-arrow--prev {
	left: 0;
}

.carousel-arrow--next {
	right: 0;
}

/* 
Arrows */

/* Carousel */
div.featured-products>div.content>div ul {
	width: 100%;
	padding: 0;
	margin: 0 1rem;
	overflow-x: auto;
	display: flex;
	gap: 8px;
	align-items: center;
	scroll-snap-type: x mandatory;
	flex-flow: row nowrap;
	scroll-behavior: smooth;
	scroll-padding: 48px;
	padding-bottom: 32px;
	-webkit-overflow-scrolling: touch;
	scrollbar-color: var(--chicle) white;
	scrollbar-width: unset;
}

/** Product **/
div.featured-products>div.content>div ul li {
	background-color: #fff;
	border-radius: 10px;
	padding: 10px;
	margin: 0;
	transition: 300ms;
	flex: 1 0 90%;
	text-align: center;
	flex-flow: column nowrap;
	display: flex;
	justify-content: center;
	align-items: center;
	scroll-snap-align: center;
}

div.featured-products>div.content>div ul li h3 {
	margin: 0;
	padding: 0;
	font-size: 1.2rem;
	font-weight: 300;
	line-height: 1.2em;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

div.featured-products>div.content>div ul li a {
	text-decoration: none;
	position: relative;
	display: flex;
	flex-direction: column;
}

div.featured-products>div.content>div ul li.gamer a:after {
	position: absolute;
	top: 1px;
	right: 1px;
	content: ' ';
	width: 30px;
	height: 30px;
	background-image: url('../images/gamer.svg');
	background-repeat: no-repeat;
	background-size: cover;
}

div.featured-products>div.content>div ul li a img {
	display: block;
	width: 90%;
	margin: auto;
}

div.featured-products>div.content>div ul li span.amount {
	display: block;
	margin: 0;
	padding: 0;
	text-align: center;
	letter-spacing: 0px;
	font-size: 1.2rem;
	font-weight: bold;
	color: var(--black);
	grid-row: 2;
}

div.featured-products>div.content>div ul li a h3 {
	font-family: var(--font-primary);
	color: var(--black);
	text-align: center;
	font-size: 1.5rem;
	font-weight: 200;
	margin: 1rem 0.5rem 0;
	padding: 0;
	line-height: 1.2em;
}

@media (min-width: 600px) {

	button.carousel-arrow {
		display: none
	}

	div.featured-products>div.content>div ul {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
		gap: 25px;
		list-style-type: none;
		margin: 0;
		justify-content: center;
		overflow-x: unset;
		scroll-snap-type: unset;
		flex-flow: unset;
		scroll-behavior: unset;
	}

	/* Producto */
	div.featured-products>div.content>div ul li {
		display: grid;
		grid-template-rows: auto 42px 70px;
	}
}

/** Tablet **/
@media (min-width: 768px) {
	div.featured-products>div.content {
		flex-direction: row;
		max-width: var(--max-width);
		margin: 0 auto;
		justify-content: center;
		padding: 3rem;
		gap: 50px;
	}

	div.featured-products>div.content>div:first-child {
		width: 25%;
	}

	div.featured-products>div.content>div:first-child img {
		display: block;
		max-width: 120px;
		border-radius: unset;
	}

	div.featured-products>div.content>div:first-child h2 {
		font-size: 1.2rem;
	}

	div.featured-products>div.content>div ul {
		grid-template-columns: repeat(3, minmax(0, 1fr));
	}

	div.featured-products>div.content>div ul li:hover {
		scale: 1.05;
	}

}

